@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/*---------------------------------Home------------------------------------*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: AppleGothic;
    overflow-x: hidden;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

#upButton{
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 10px;
    border: 2px solid #44BD32;
    color: white;
    z-index: 9;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    transition: 0.5s;
}

#upButton:hover{
    background-color: #44BD32;
}

/*----------------------------------------------------------------*/
nav{
    background: #44BD32;
    height: 80px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

nav>img{
    width: 70px;
    aspect-ratio: 1/1;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 20px;
}

label.logo{
    color: white;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 100px;
    font-weight: bold;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: .2s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1050px) {
    label.logo {
        font-size: 12px;
        padding-left: 100px;
    }

    nav ul li a {
        font-size: 14px;
        padding: 0 5px 0 5px;
    }

    nav > img {
        width: 50px;
        aspect-ratio: 1/1;
        display: inline-block;
        position: absolute;
        top: 17px;
        left: 20px;
    }

    label.logo {
        color: white;
        font-size: 12px;
        top: 10px;
        line-height: 13px;
        padding: 10px 0 0 80px;
        font-weight: bold;
        position: absolute;
        font-family: 'Poppins', sans-serif;
    }

}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 80px;
        left: -1000px;
        text-align: center;
        transition: all .5s;
        z-index: 1;

        background: rgba(0, 0, 0, 0.3);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #navHome:hover{
        color: #44BD32;
    }
    #navAbout:hover{
        color: #44BD32;
    }
    #navSkills:hover{
        color: #44BD32;
    }
    #navGalley:hover{
        color: #44BD32;
    }
    #navProject:hover{
        color: #44BD32;
    }
    #navAssignment:hover{
        color: #44BD32;
    }
    #navContact:hover{
        color: #44BD32;
    }

    #check:checked ~ ul{
        left: 0;
    }

    nav{
        position: fixed;
        z-index: 9999999;
    }
}

section .home{
    background: url("assest/HomePageAssest/Untitled-1.png") no-repeat;
    background-size: cover;
    height: 100vh;
}

section>nav>ul>li:nth-child(1)>a:hover{
    color: black;
}
section>nav>ul>li:nth-child(2)>a:hover{
    color: black;
}
section>nav>ul>li:nth-child(3)>a:hover{
    color: black;
}

section>nav>ul>li:nth-child(4)>a:hover{
    color: black;
}
section>nav>ul>li:nth-child(5)>a:hover{
    color: black;
}
section>nav>ul>li:nth-child(6)>a:hover{
    color: black;
}
section>nav>ul>li:nth-child(7)>a:hover{
    color: black;
}

.main{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 250px;
    display: inline-block;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: white;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}

@media (max-width: 1050px) {
    .icon{
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background: white;
        margin: 5px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        font-family: sans-serif;
        overflow: hidden;
        box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
        transition: all .3s ease-out;
    }
}

.icon:hover{
    width: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

@media (max-width: 1050px) {
    .icon:hover{
        width: 120px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
    }
}


.icon:hover i{
    color: white;
}
.icon .fa-facebook-f{
    color: #1A6ED8;
}
.fb:hover{
    background: #1A6ED8;
}

.icon .fa-linkedin{
    color: #0077B5;
}
.linkdin:hover{
    background: #0077B5;
}

.icon .fa-youtube{
    color: #FE0000;
}
.youtube:hover{
    background: #FE0000;
}

.icon .fa-github{
    color: black;
}
.github:hover{
    background: black;
}

.icon .fa-whatsapp{
    color: #44BD32;
}
.whatsapp:hover{
    background: #44BD32;
}

.icon .fa-stack-overflow{
    color: #f58023;
}
.stack-overflow:hover{
    background: #f58023;
}

@media only screen and (min-width: 320px) and (max-width: 991px){
    .main{
        flex-direction: column;
    }
}

a>button{
    background-color: #44BD32;
    border: #44BD32;
    color: white;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    position: absolute;
    right: -650px;
    top: 470px;
    font-size: 20px;
    transition: 0.5s;
}

@media (max-width: 1050px) {
    a>button{
        background-color: #44BD32;
        border: #44BD32;
        color: white;
        border-radius: 20px;
        width: 120px;
        height: 35px;
        font-family: 'Inter', sans-serif;
        position: absolute;
        right: -750px;
        top: 450px;
        font-size: 18px;
        transition: 0.5s;
    }
}

a>button:hover{
    background-color: white;
    color: black;
}

.homeDetails{
    padding: 0 100px 0 0;
    position: absolute;
    top: 80px;
    right: 1000px;
}

#h>span{
    position: absolute;
    top: 300px;
    right: 400px;
}

#h>span:first-child{
    font-size: 150px;
    color: #44BD32;
    top: 230px;
    right: 500px;
    font-weight: 800;
}

#h>span:nth-child(2){
    font-size: 60px;
    color: white;
    top: 310px;
    right: 280px;
    font-weight: 800;
}

svg{
    margin: 10px;
    position: absolute;
    top: 200px;
    right: 900px;
}

#h>#amilSrinath{
    position: absolute;
    top: 400px;
    right: 150px;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}

@media (max-width: 600px) {
    #h>#amilSrinath {
        font-size: 30px;
        right: 35px;
        top: 378px;
    }
}

path{
    stroke-dasharray: 3062.03955078125px;
    stroke-dashoffset: 3062.03955078125px;
    animation: LineAnimation 8s ease forwards infinite;
    animation-delay: 1s;
}

@keyframes LineAnimation {
    to{
        stroke-dashoffset: 0;
    }
}

@media (max-width: 1050px) {
    #h>span:first-child{
        font-size: 100px;
        color: #44BD32;
        top: 285px;
        right: 360px;
        font-weight: 800;
    }
    #h>span:nth-child(2){
        font-size: 40px;
        color: white;
        top: 340px;
        right: 210px;
        font-weight: 800;
    }
    svg{
        margin: 10px;
        position: absolute;
        top: 370px;
        right: 200px;
        width: 200px;
    }
}

@media (max-width: 600px) {
    #h>span:first-child{
        font-size: 75px;
        color: #44BD32;
        top: 285px;
        right: 250px;
        font-weight: 800;
    }
    #h>span:nth-child(2){
        font-size: 30px;
        color: white;
        top: 327px;
        right: 140px;
        font-weight: 800;
    }
    svg{
        margin: 10px;
        position: absolute;
        top: 310px;
        right: 150px;
        width: 100px;
    }
    a>button{
        background-color: #44BD32;
        border: #44BD32;
        color: white;
        border-radius: 20px;
        width: 120px;
        height: 35px;
        font-family: 'Inter', sans-serif;
        position: absolute;
        right: -850px;
        top: 380px;
        font-size: 15px;
        transition: 0.5s;
    }
}

@media (max-width: 1390px) {
    svg{
        margin: 10px;
        position: absolute;
        top: 190px;
        right: 832px;
        width: 410px;
    }
}

@media (max-width: 1300px) {
    svg{
        margin: 10px;
        position: absolute;
        top: 190px;
        right: 789px;
        width: 380px;
    }
}

@media (max-width: 1230px) {
    svg{
        right: 768px;
        width: 329px;
    }
}

@media (max-width: 1770px) {
    svg{
        right: 776px;
        width: 352px;
        left: 55px;
    }
}

@media (max-width: 1120px) {
    #btnDownload{
        top: 60px;
        right: 20px;
    }

    svg{
        right: 750px;
        width: 290px;
    }
}

@media (max-width: 700px) {
    #h>span:first-child{
        font-size: 75px;
        color: #44BD32;
        top: 285px;
        right: 167px;
        font-weight: 800;
    }
    #h>span:nth-child(2){
        font-size: 30px;
        color: white;
        top: 325px;
        right: 53px;
        font-weight: 800;
    }
    svg{
        margin: 10px;
        position: absolute;
        top: 310px;
        right: 50px;
        width: 100px;
    }
    a>button{
        background-color: #44BD32;
        border: #44BD32;
        color: white;
        border-radius: 20px;
        width: 120px;
        height: 35px;
        font-family: 'Inter', sans-serif;
        position: absolute;
        right: -929px;
        top: 380px;
        font-size: 15px;
        transition: 0.5s;
    }
}


#a{
    background: black;
    width: 100%;
    height: 900px;
    position: relative;
}

#a>div>#A_Letter {
    color: #44BD32;
    font-family: 'Josefin Slab', serif;
    display: inline-block;
    font-size: 110px;
    margin: 0;
}

#a>div>span{
    color: white;
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}

@media (max-width: 600px) {
    #a>div>#A_Letter {
        color: #44BD32;
        font-family: 'Josefin Slab', serif;
        display: inline-block;
        font-size: 110px;
        margin: 0;
        position: absolute;
        right: 0;
    }

    #a>div>span {
        position: absolute;
        right: -240px;
        font-size: 50px;
        top: 50px;
    }

    #a>div>#Para {
        position: absolute;
        right: 14px;
        left: 117px;
        top: -35px;
    }

    svg {
        margin: 10px;
        position: absolute;
        top: -160px;
        right: 140px;
        width: 250px;
    }
}

@media (max-width: 600px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 160px;
    }
    #imgBoder{
        width: 490px;
    }
}

#AboutName{
    position: absolute;
    right: 400px;
    top: 15%;
}

#a>h3{
    color: white;
    position: absolute;
    right: 18%;
    top: 26%;
    font-size: 25px;
}

#DivPara{
    width: 600px;
    position: absolute;
    right: 10%;
    top: 40%;
}

#a>div>#Para{
    color: white;
    font-family: 'Imprima', sans-serif;
    font-size: 20px;
    text-align: justify;
}

#btnDownload{
    color: white;
    background-color: #44BD32;
    border: #44BD32;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 60%;
    right: 20%;
    transition: 0.5s;
}

#a>a>button:hover{
    color: black;
    background-color: white;
}
/*----------------------------------------------------------------*/



/*---------------------------------Skills------------------------------------*/

#s{
    background: black;
}

section>#skillBorder{
    background-color: #44BD32;
    width: 100%;
    height: 45px;
    position: relative;
    margin-bottom: 75px;
}

#skillBorderSub1{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: -1px;
    /*border-radius: 0 0 0 20px;*/
}

#skillBorderSub1>div{
    position: relative;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background: #44BD32;
    top: 1px;
    right: 23px;
    z-index: 1;
}

#skillBorderSub2{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: 6px;
    /*border-radius: 20px 0 0 0;*/
}

#skills{
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 4px;
    left: 60px;
}

#galleryBorderSub1>div{
    position: relative;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background: #44BD32;
    top: 1px;
    right: 23px;
    z-index: 1;
}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    background: black;
}

.card3{
    position: relative;
    width: 300px;
    height: 400px;
    background: #44BD32;
    margin: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 white, inset 0 -15px 0 rgba(255, 255, 255, 0.25), 0 45px 0 rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
}

.card::before{
    content: '';
    position: absolute;
    top: -140px;
    left: -40%;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

.card3:hover{
    background: linear-gradient(to bottom, white, #44BD32);
}

.card3:hover .content3 p{
    color: black;
}

.card3:hover .content3 h2{
    color: black;
    letter-spacing: 2px;
}

.card3:hover .icon3 img{
    top: 1px;
}

.icon3{
    position: relative;
    width: 140px;
    height: 120px;
    background: black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 10px 0 rgba(0,0,0,0.1), inset 0 -8px 0 white;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.icon3::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px black;
}

.icon3::after{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px black;
}

.icon3 img{
    z-index: 1000;
    position: relative;
    top: -10px;
}

.content3{
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
}

.content3 h2{
    font-size: 1.75em;
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.content3 p{
    color: white;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}




/*---------------------------------Gallery------------------------------------*/

#gallery{
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 4px;
    left: 60px;
}

#galleryBorderSub1{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: -1px;
    /*border-radius: 0 0 0 20px;*/
}

#galleryBorderSub2{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: 6px;
}

.image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 200px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    background: black;
    position: relative;
    justify-content: center;
}

#imgBoder{
    position: relative;
    width: 1200px;
    margin: auto;
}

.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2{
    grid-column: span 2;
}

.image-grid-row-2{
    grid-row: span 2;
}

@media (max-width: 1220px){
    .image-grid{
        --num-cols: 2;
        --row-height: 270px;
    }
    #imgBoder{
        width: 870px;
    }
}


@media (max-width: 850px){
    .image-grid{
        --num-cols: 2;
        --row-height: 160px;
    }
    #imgBoder{
        width: 550px;
    }
}


#g{
    position: relative;
}

body>#g{
    background : black;
    width: 100%;
    background-size: cover;
    padding-bottom: 20px;
}

/*---------------------------------Project------------------------------------*/

section>#galleryBorder{
    background-color: #44BD32;
    width: 100%;
    height: 45px;
    position: relative;
    margin: 65px 0px 70px;
}

section>#projectBorder{
    background-color: #44BD32;
    width: 100%;
    height: 45px;
    position: relative;
    margin: 60px 0 60px 0;
}

#project{
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 4px;
    left: 60px;
}

#projectBorderSub1>div{
    position: relative;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background: #44BD32;
    top: 1px;
    right: 23px;
    z-index: 1;
}

#gallery{
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 4px;
    left: 60px;
}

#projectBorderSub1{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: -1px;
}

#projectBorderSub2{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: 6px;
}

#p{
    background: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    top: 80px;
    background: black;
    padding: 100px 130px 100px 130px;
}

.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    border: 3px solid #44BD32;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 1s;
}

.container .card:hover{
    height: 400px;
}

.container .card .imgBox{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    transition: 1s;
    overflow: hidden;
}

.container .card:hover .imgBox{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.container .card .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .card .content{
    position: absolute;
    top: 253px;
    width: 90%;
    height: 30px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 1s;
}

.container .card:hover .content{
    top: 120px;
    height: 250px;
}

.container .card .content h2{
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container .card .content p{
    color: white;
    font-size: 1.05em;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    position: relative;
    top: 20px;
}

.container .card .content a{
    position: relative;
    top: 45px;
    display: inline-block;
    padding: 12px 25px;
    background: #44BD32;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}

.container .card .content a:hover {
    background: white;
    color: black;
}

/*---------------------------------Assignment------------------------------------*/

#assignmentBorder{
    background-color: #44BD32;
    width: 100%;
    height: 45px;
    position: relative;
    margin-bottom: 75px;
}

#assignmentBorderSub1{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: -1px;
    /*border-radius: 0 0 0 20px;*/
}

#assignmentBorderSub1>div{
    position: relative;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background: #44BD32;
    top: 1px;
    right: 23px;
    z-index: 1;
}

#assignmentBorderSub2{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: 6px;
}

#As {
    width: 100%;
    background-size: cover;
    background-position: center;
    background: black;
}

#assignment{
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 4px;
    left: 31px;
}

section>#assignment{
    background-color: #44BD32;
    width: 200px;
    height: 70px;
    position: relative;
    margin-left: 50px;
}

.container2{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -20px;
}

.box{
    width: 290px;
    height: 400px;
    border: 2px solid #44BD32;
    border-radius: 5px;
    padding: 80px 20px 20px 20px;
    margin: 30px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.box h3{
    font-size: 35px;
    padding: 30px 0 15px 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.box p{
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
}

#assignment8{
    margin-top: 0;
}

#assButton2{
    margin-top: 4px;
}

#assButton3, #assButton4{
    margin-top: 75px;
}

#assButton3h3, #assButton4h3{
    padding: 30px 0 50px 0;
}

#assignment6{
    margin-top: 90px;
}

.box .assButton{
    width: 140px;
    height: 40px;
    background-color: #44BD32;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    transition: 0.1s;
    position: relative;
    top: 20px;
    right: 0;
}

#assButton1{
    margin-top: 5px;
}

.box button:hover{
    letter-spacing: 1px;
    width: 145px;
}

.box::before{
    width: 100%;
    height: 100%;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box::after{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #ffffff 0%, #44BD32 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: circle(20% at 90% 10%);
    transition: .7s;
}

.box .count{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 50px;
    font-weight: bolder;
    color: #ffffff;
}

.box:hover::after{
    clip-path: circle(100%);
}

.box:hover h3{
    color: black;
}

.box:hover p{
    color: black;
}

.box:hover button{
    background-color: black;
}

.btnInfo i{
    color: rgb(68, 189, 50);
    position: relative;
    top: 20px;
    font-size: 38px;
}

.btnInfo i:hover{
    font-size: 40px;
}

.iconBackground{
    width: 37px;
    height: 27px;
    background: white;
    border-radius: 100%;
    position: relative;
    top: -15px;
    right: -178px;
    z-index: -1;
}

.box:hover .btnInfo i{
    color: black;
}





/*---------------------------------Contact------------------------------------*/

#contactBorder{
    background-color: #44BD32;
    width: 100%;
    height: 45px;
    position: relative;
    margin-bottom: 75px;
    margin-top: 50px;
}

#contactBorderSub1{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: -1px;
    /*border-radius: 0 0 0 20px;*/
}

#contactBorderSub1>div{
    position: relative;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background: #44BD32;
    top: 1px;
    right: 23px;
    z-index: 1;
}

#contactBorderSub2{
    position: relative;
    height: 20px;
    background: black;
    margin: 0 0 0 250px;
    top: 6px;
    /*border-radius: 20px 0 0 0;*/
}

body>#c {
    width: 100%;
    background-size: cover;
    background-position: center;
    background: black;
}

#contact{
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 4px;
    left: 60px;
}

body>#c {
    width: 100%;
    height: 100px;
    background-size: cover;
    background: black center;
}

.contact4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: black;
    padding-bottom: 50px;
}

.contact4 .content4{
    max-width: 800px;
    text-align: center;
}

.contact4 .content4 h2{
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
}

.contact4 .content4 p{
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container4 .contactInfo4{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.container4 .contactInfo4 .box4{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container4 .contactInfo4 .box4 .icon4{
    min-width: 50px;
    height: 50px;
    background: #44BD32;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container4 .contactInfo4 .box4 .text4{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.container4 .contactInfo4 .box4 .text4 h3{
    font-weight: 500;
    color: #44BD32;
    margin: 9px;
    margin-left: 0;
}

.container4 .contactInfo4 .box4 .text4 p{
    margin: 0;
}

.contactForm4{
    width: 37%;
    padding: 30px;
    background: white;
    border-radius: 5%;
}

.contactForm4 h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.contactForm4 .inputBox4{
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.contactForm4 .inputBox4 input,
.contactForm4 .inputBox4 textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: white;
    -webkit-text-fill-color: #333;
    font-family: 'Poppins', sans-serif;
}

.contactForm4 .inputBox4 span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.3s;
    color: #666;
}

.contactForm4 .inputBox4 input:focus ~ span,
.contactForm4 .inputBox4 input:valid ~ span ,
.contactForm4 .inputBox4 textarea:focus ~ span,
.contactForm4 .inputBox4 textarea:valid ~ span{
    color: #44BD32;
    font-size: 13px;
    transform: translateY(-20px);
}

.contactForm4 .inputBox4 input[type="submit"]{
    width: 100px;
    background: #44BD32;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact4{
        padding: 50px;
    }
    .container4{
        flex-direction: column;
    }
    .container4 .contactInfo4, .contactForm4{
        width: 100%;
    }
}

@media (max-width: 1120px) {
    #btnDownload {
        top: 81%;
        right: 23%;
    }

    #a>div>#Para {
        position: absolute;
        top: 209px;
        right: 32px;
        left: -255px;
    }

    #AboutName {
        position: absolute;
        right: 400px;
        top: 35%;
    }

    #a>h3 {
        right: 18%;
        top: 46%;
        font-size: 25px;
    }

    svg {
        right: 306px;
        width: 389px;
        top: -60px;
    }
}

@media (max-width: 1000px) {
    #btnDownload {
        top: 81%;
        right: 23%;
    }

    #a>div>#Para {
        position: absolute;
        top: 209px;
        right: 32px;
        left: -194px;
    }

    #AboutName {
        position: absolute;
        right: 400px;
        top: 35%;
    }

    #a>h3 {
        right: 18%;
        top: 46%;
        font-size: 25px;
    }

    svg {
        right: 306px;
        width: 350px;
        top: -60px;
    }
}

@media (max-width: 950px) {
    #a > div > #Para {
        position: absolute;
        top: 209px;
        right: 32px;
        left: -126px;
    }
}

@media (max-width: 900px) {
    #a > div > #Para {
        position: absolute;
        top: 209px;
        right: 32px;
        left: -92px;
    }
}

@media (max-width: 870px) {
    #imgBoder {
        width: 780px;
    }

    .image-grid {
        --num-cols: 2;
        --row-height: 241px;
    }
}

@media (max-width: 780px) {
    #imgBoder {
        width: 680px;
    }

    .image-grid {
        --num-cols: 2;
        --row-height: 208px;
    }
}

@media (max-width: 680px) {
    #imgBoder {
        width: 560px;
    }

    .image-grid {
        --num-cols: 2;
        --row-height: 168px;
    }
}

@media (max-width: 560px) {
    #imgBoder {
        width: 460px;
    }

    .image-grid {
        --num-cols: 2;
        --row-height: 134px;
    }
}

@media (max-width: 460px) {
    #imgBoder {
        width: 370px;
    }

    .image-grid {
        --num-cols: 2;
        --row-height: 104px;
    }
}

@media (max-width: 580px) {
    .container .card .imgBox {
        width: 260px;
        height: 190px;
    }

    .container .card .content h2 {
        font-size: 17.5px;
    }

    .container .card .content a {
        top: 75px;
    }

    .container .card .content p {
        font-size: 12.05px;
        top: 15px;
    }
}

@media (max-width: 535px) {
    .container .card .imgBox {
        width: 229px;
        height: 168px;
    }

    .container .card .content h2 {
        position: relative;
        font-size: 17.5px;
        top: 8px;
    }

    .container .card .content a {
        top: 75px;
    }

    .container .card .content p {
        font-size: 12.05px;
        top: 15px;
    }

    .container .card .content {
        top: 226px;
    }

    .container .card:hover .content {
        top: 231px;
    }

    .container .card:hover .imgBox {
        top: -70px;
        scale: 1.0;
    }
}

@media (max-width: 490px) {
    .container .card .imgBox {
        width: 177px;
        height: 110px;
    }

    .container .card .content h2 {
        position: relative;
        font-size: 17.5px;
        top: 8px;
    }

    .container .card .content a {
        top: 75px;
    }

    .container .card .content p {
        font-size: 12.05px;
        top: 15px;
    }

    .container .card .content {
        top: 175px;
    }

    .container .card:hover .content {
        top: 120px;
        padding: 0 0px;
    }

    .container .card:hover .imgBox {
        top: -70px;
        scale: 1.0;
    }

    .container .card {
        height: 270px;
    }

    .container .card:hover {
        height: 335px;
    }

    .container .card .content {
        padding: 0px 0px;
    }
}

@media (max-width: 450px) {
    .container .card .imgBox {
        width: 160px;
        height: 100px;
    }

    .container .card:hover .content {
        top: 95px;
        padding: 0 0px;
    }
}

@media (max-width: 440px) {
    .container .card .content h2 {
        position: relative;
        font-size: 13.5px;
        top: -2px;
    }

    .container .card .content p {
        font-size: 9px;
        top: 15px;
    }

    .container .card .content a {
        top: 74px;
        width: 105px;
        height: 34px;
        font-size: 10px;
    }
}

@media (max-width: 860px) {
    svg {
        right: 228px;
        width: 310px;
        top: -60px;
    }
}

@media (max-width: 810px) {
    svg {
        right: 498px;
        width: 256px;
        top: -85px;
        rotate: -38deg;
    }

    #a > div > #Para {
        position: absolute;
        top: 209px;
        right: 32px;
        left: -5px;
    }

    #AboutName {
        position: absolute;
        right: 254px;
        top: 35%;
    }
}

@media (max-width: 750px) {
    svg {
        right: 436px;
        width: 226px;
        top: -86px;
        rotate: -38deg;
    }

    #a > div > #Para {
        position: absolute;
        top: 173px;
        right: 44px;
        left: 31px;
    }

    #AboutName {
        position: absolute;
        right: 254px;
        top: 35%;
    }
}

@media (max-width: 660px) {
    svg {
        right: 396px;
        width: 211px;
        top: -86px;
        rotate: -38deg;
    }

    #a > div > #Para {
        position: absolute;
        top: 173px;
        right: 53px;
        left: 122px;
    }

    #AboutName {
        position: absolute;
        right: 175px;
        top: 35%;
    }
}

@media (max-width: 600px) {
    svg {
        right: 326px;
        width: 211px;
        top: -93px;
        rotate: -38deg;
    }

    #a > div > #Para {
        position: absolute;
        top: 173px;
        right: 40px;
        left: 163px;
        font-size: 15px;
    }

    #AboutName {
        position: absolute;
        right: 400px;
        top: 35%;
    }
}

@media (max-width: 530px) {
    svg {
        right: 257px;
        width: 211px;
        top: -93px;
        rotate: -38deg;
    }

    #a > div > #Para {
        position: absolute;
        top: 173px;
        right: 42px;
        left: 223px;
        font-size: 15px;
    }

    #AboutName {
        position: absolute;
        right: 351px;
        top: 35%;
    }
}

@media (max-width: 470px) {
    svg {
        right: 196px;
        width: 161px;
        top: -93px;
        rotate: -38deg;
    }

    #a > div > #Para {
        position: absolute;
        top: 149px;
        right: 44px;
        left: 261px;
        font-size: 14px;
    }

    #AboutName {
        position: absolute;
        right: 301px;
        top: 35%;
    }
}

@media (max-width: 500px) {
    #upButton {
        right: 20px;
    }
}

@media (max-width: 400px) {
    #a > div > #Para {
        position: absolute;
        top: 149px;
        right: 44px;
        left: 310px;
        font-size: 14px;
    }

    #a>div>#A_Letter {
        font-size: 80px;
    }

    #a>div>span {
        position: absolute;
        right: -190px;
        font-size: 40px;
        top: 32px;
    }

    #a>h3 {
        right: 20%;
        top: 43%;
        font-size: 22px;
    }

    section>#skillBorder {
        width: 200px;
        height: 70px;
        position: relative;
        margin-left: 15vh;
    }

    section>#galleryBorder {
        margin-left: 15vh;
    }
}

@media (max-width: 385px) {
    section>#skillBorder {
        margin-left: 10vh;
    }

    section>#galleryBorder {
        margin-left: 10vh;
    }

    section>#projectBorder {
        margin-left: 10vh;
    }

    section>#assignmentBorder {
        margin-left: 10vh;
    }

    section>#contactBorder {
        margin-left: 10vh;
    }
    .contactForm4{
        width: 115%;
    }

    .container{
        padding: 100px 86px 100px 83px;
    }

    .container .card .content h2 {
        font-size: 16.5px;
    }

    .container .card .content p {
        font-size: 14px;
    }

    .container .card .content a {
        top: 74px;
        width: 115px;
        height: 37px;
        font-size: 14px;
    }

    .container .card .content a {
        padding: 12px 5px;
    }
}

@media (max-width: 370px) {
    .image-grid{
        --row-height: 95px;
    }

    #imgBoder{
        width: 300px;
    }
}